<stepper #stepper>
  <form [formGroup]="myForm">
    <cdk-step *ngFor="let step of surveyQuestions; let i = index">
      <ng-template *ngIf="myForm.controls[i].valid" cdkStepLabel>
        <mat-icon>done</mat-icon>
      </ng-template>
      <question [question]="step" [control]="myForm.controls[i]"></question>
      <button
        *ngIf="myForm.invalid"
        (click)="onNext(stepper.selectedIndex)"
        class="button survey-button"
        color="primary"
        mat-raised-button
      >
        Next
      </button>
      <button
        *ngIf="myForm.valid"
        (click)="onSubmit()"
        class="button pulse survey-button"
        color="accent"
        mat-raised-button
      >
        Submit
      </button>
    </cdk-step>
  </form>
</stepper>
