<div *ngIf="user" class="stack-container">
  <mat-card class="card">
    <h2 class="welcome-text">
      Welcome Back <strong> {{ user.displayName }}</strong>
    </h2>
    <button
      (click)="continue()"
      class="button"
      mat-raised-button
      color="primary"
    >
      CONTINUE
    </button>
  </mat-card>
  <div>
    Not <strong>{{ user.displayName }}</strong
    >?
  </div>

  <button
    mat-stroked-button
    class="my-stroked-button button"
    (click)="signOut()"
  >
    Sign Out
  </button>
</div>
