mat-form-field {
  width: 100%;
}

.outer {
  padding: 24px;
}

.input {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  text-align: center;
  border: 2px solid #e0e0e0;
  outline: none;
  height: 48px;
  border-radius: 4px;
  transition: 0.2s;
  font-weight: 800;
  box-sizing: border-box;
  color: #00454d;
}

.inner {
  max-width: 250px;
  margin: 12px auto;
}

.stack-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.button {
  font-family: "Montserrat", sans-serif;
  width: 100%;
  text-align: center;
  outline: none;
  height: 48px;
  border-radius: 4px;
  transition: 0.2s;
  font-weight: 800;
  box-sizing: border-box;
}

.under-card {
  min-width: 260px;
}
