<mat-card class="card">
  <h2>Find someone who has travelled to Thailand?</h2>
  <div class="under-question">
    <mat-card-content>
      <mat-form-field class="form" appearance="fill" [@shake]="shake">
        <input
          matInput
          placeholder="Enter Name"
          [formControl]="control"
          [matAutocomplete]="auto"
          [readonly]="checking"
          #trigger
        />
        <div class="spin-wrapper" *ngIf="checking">
          <mat-spinner class="input-spin" diameter="20"></mat-spinner>
        </div>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let name of names" [value]="name">
            {{ name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </mat-card-content>
  </div>
  <div class="button-container">
    <button
      type="button"
      (click)="checkAnswer()"
      mat-raised-button
      color="primary"
      class="mingle-button"
      [disabled]="checking"
    >
      Submit
    </button>
  </div>
</mat-card>
