<div class="outer">
  <logo></logo>

  <ng-container *ngIf="user$ | async as user; else enterName">
    <is-signed-in [user]="user" (continueEvent)="onContinue(user.displayName)">
    </is-signed-in>
  </ng-container>

  <ng-template #enterName>
    <div class="stack-container inner">
      <input
        [(ngModel)]="name"
        mat-input
        class="input-bold"
        type="text"
        autocomplete="off"
        placeholder="Enter Your Name"
        onfocus="this.placeholder = ''"
        onblur="this.placeholder = 'Enter Your Name'"
      />

      <button
        mat-raised-button
        color="primary"
        class="button"
        (click)="onSubmit()"
      >
        Submit
      </button>
    </div>
  </ng-template>
</div>
