// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "~@angular/material" as mat;
// Plus imports for other components in your app.

//TYPOGRAPHY
//need to import in index.html

@import "_variables.scss";

$my-typography: mat.define-typography-config(
  $font-family: $my-font,
);
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core($my-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/

$my-primary: (
  50: #e1eef1,
  100: #b5d4db,
  200: #83b8c3,
  300: #519cab,
  400: #2c8699,
  500: #077187,
  600: #06697f,
  700: #055e74,
  800: #04546a,
  900: #024257,
  A100: #89dcff,
  A200: #56cdff,
  A400: #23beff,
  A700: #09b6ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$my-accent: (
  A200: #ff9e80,
  A100: #ffe2d9,
  A400: #ffe2d9,
  contrast: (
    A200: #272727,
    A100: #272727,
    A400: #272727,
  ),
);

$base-game-primary: mat.define-palette($my-primary);
$base-game-accent: mat.define-palette($my-accent, A200, A100, A400);

// The warn palette is optional (defaults to red).
$base-game-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$base-game-theme: mat.define-light-theme(
  (
    color: (
      primary: $base-game-primary,
      accent: $base-game-accent,
      warn: $base-game-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($base-game-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: $my-font, sans-serif;
  color: #272727;
  background-color: $my-background;
}

.input {
  font-family: "Outfit", sans-serif;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  height: 48px;
  border-radius: 4px;
  transition: 0.2s;
  box-sizing: border-box;
  color: $card-color;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.3px;
}

.input-bold {
  @extend .input;
  font-weight: 900;
  font-size: 1.2em;
}

.input:focus {
  border: 2px solid $secondary;
  color: $card-color;
}

.button {
  width: 100%;
  max-width: 250px;
  text-align: center;
  outline: none;
  height: 48px;
  border-radius: 4px;
  transition: 0.2s;
  box-sizing: border-box;
  letter-spacing: 0.6px;
}

// .mat-autocomplete-panel {
//   outline: 2px solid $secondary;
// }
