<div class="outer">
  <div class="logo-container">
    <img class="logo" src="../../../assets/ttrLogo.svg" />
  </div>

  <form [formGroup]="form" (ngSubmit)="submit()">
    <mat-card class="card">
      <mat-form-field color="accent">
        <input
          matInput
          formControlName="email"
          type="email"
          placeholder="Email"
          autocomplete="off"
        />
        <mat-error *ngIf="email.invalid && email.dirty">
          You must enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <input
          matInput
          formControlName="userName"
          type="username"
          placeholder="Enter Username"
          autocomplete="off"
        />
        <mat-error *ngIf="email.invalid && email.dirty">
          You must enter a valid email address
        </mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <input
          matInput
          formControlName="password"
          type="password"
          placeholder="Password"
          autocomplete="off"
        />

        <mat-error *ngIf="password.invalid && password.dirty">
          Password must be at least 6 characters long
        </mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <input
          matInput
          formControlName="confirmPass"
          type="password"
          placeholder="Retype Password"
          autocomplete="off"
        />
        <mat-error *ngIf="confirmPass.dirty && form.errors?.['not_matched']">
          >Passwords Are Not Same</mat-error
        >
      </mat-form-field>

      <mat-error class="server-error">{{ serverMessage }}</mat-error>
    </mat-card>

    <button class="button" mat-raised-button color="accent" type="submit">
      Create Account
    </button>
  </form>
</div>
